.main{
    height: 600px;
}

/*.footer{
    min-width: 800px;;
}*/

.form-main{
    width: 300px;
    /*margin: auto;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;

}

.btn-color{
    background: rgba(152, 210, 245, 1);
}
