.wrapper{
    width: 1024px;
    min-height: 768px;
    margin-left: auto;
    margin-right: auto;
}
.main-block{
    width: 1024px;
    min-height: 480px;
}
.main-header{
    width: 1024px;
    max-height: 100px;
}
.main-footer{
    width: 1024px;
    max-height: 100px;
}
.btn-cfg{
    background: rgba(152, 210, 245, 1);
    margin: 5px;
}
.form-block{
    width: 100%;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-element{
    margin-left: 5px;
    margin-right: 5px;
}
.form-label{
    float: left;
    width: calc(20% - 5px);
}
.form-label > LABEL{
    float: right;
}
.form-input{
    float: left;
    width: calc(80% - 5px);
}
.form-main{
    width: 400px;
    /*margin: auto;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}
.form-order{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.modal-body{
    height: 400px;
}
.modal-content{
    width: 400px;
}
.form-user-management{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

